.logo {
	display: flex;
	align-items: center;
	justify-content: center;
}

/*Endrer selve bokstavene*/
.logo span {
	font-family: Georgia;
	font-weight: bold;
	font-size: 50px;
}

.logo span:first-child {
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.logo span:last-child {
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

nav {
 }

nav ul {
	display: flex;
	list-style-type: none;
	justify-content: center;

}

nav ul li {
	background-color: #BAFFC2;
	opacity: 0.6;
	border-radius: 10px 10px 10px 10px;
	margin: 2px 2px 0px 2px;
	padding: 10px 15px;
	display: flex;
	align-items: center;
}

nav ul li:hover {
	opacity: 1.0;
}

nav ul a {
	text-decoration: none;
	display: block;
}

nav ul a:hover {
	opacity: 1.0;
}
